<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiskDriveInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DiskDriveInfo.Properties.Settings>
            <setting name="WindowTop" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ShadeAltRows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KeepOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeNotReady" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GridZoom" serializeAs="String">
                <value>1</value>
            </setting>
        </DiskDriveInfo.Properties.Settings>
    </userSettings>
</configuration>